.error-msg {
    color: red;
    font-size: 12px;
    padding: 5px;
    margin-top: 5px;
}

/* common Farsi */
.farsi-dir {
    direction: rtl !important;
}

.farsi-font {
    font-family: BYekan,'BYekan',tahoma !important;
}

.farsi-position {
    text-align: right !important;
}

.farsi-position-justify {
    text-align: justify;
}

.farsi-float {
    float: right !important;
}

.farsi-number-float {
    float: left !important;
}

.farsi-title {
    font-size: 15px !important;
    font-weight: 900 !important;
}

.farsi-article {
    font-size: 12px !important;
}
.farsi-font-text {
    font-family: BYekan,'BYekan',tahoma;
    font-size: 12px;
}

.farsi-font-title {
    font-family: BYekan,'BYekan',tahoma;
    font-size: 22px !important;
}

.farsi-direction {
    direction: rtl;
    color: white;
}

.farsi-align {
    text-align: right !important;
}

/* End common */
